# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
*.lock

# IntelliJ
*.iml
.idea/

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# Misc
.DS_Store
.claude/*.png
.claude/*.jpg
.claude/*.jpeg

# Node
node_modules/
.claude/settings.local.json
.serena/
.mcp.json
