name: goboard_launcher
description: >-
  GoBoard Launcher は 9 路盤を模したランチャー UI を提供する Flutter アプリです。
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  yaml: ^3.1.2

flutter:
  uses-material-design: true
